@charset "UTF-8";

body{
    background-color: lightgreen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
h1{
    color: mediumseagreen;
    background-color: saddlebrown;
}
h2{
    color: yellow;
}
p{
    text-align: justify;
}